@charset "utf-8";

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    background-color: #f8e6e5;
}

header div.logo{
    width: 100%;
    text-align: center;
}

nav table{
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

nav table tr td{
    width: 25%;
    padding: 1% 0%;
    text-align: center;
}

div.carrosel{
    width: auto;
    height: 260px;
    overflow: hidden;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: #f8e6e5;
}

div.frame{
    display: none;
}

.frame:target{
    display: block;
}

div.tela-1, div.tela-2, div.tela-3, div.tela-4{
    font-size: 120%;
    font-family: 'Eczar', serif;
    text-align: center;
}

a.voltar{
    float: left;
    margin: 7% 0% 0% 11%;
}

a.avancar{
    float: right;
    margin: 7% 11% 0% 0%;
}

aside{
    float: left;
    text-align: center;
    border-radius: 5%;
    width: 10%;
    height: 270px;
    margin-left: 1%;
    position: sticky;
    top: 0px;
}

section{
    overflow: hidden;
}

section.bolos h3{
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section.bolos div.quadro1{
    float: left;
    text-align: center;
    border: 1px solid;
    width: 49%;
}

section.bolos div.quadro2{
    float: right;
    border: 1px solid;
    width: 49%;
    text-align: center;
}

section.bolos div.quadro3, div.quadro5{
    float: left;
    text-align: center;
    border: 1px solid;
    margin-top: 1%;
    width: 49%;
}

section.bolos div.quadro4, div.quadro6{
    float: right;
    border: 1px solid;
    width: 49%;
    margin-top: 1%;
    text-align: center;
}