@charset "utf-8";

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

h2.promo, div.preco, h3, table tr td{
    text-align: center;
}

/*Estilo do menu suspenso*/
table.cabecalho{
    margin-top: 30px;
}

table tr td{
    font-size: 18px;
    width: 1000px;
    height: 10px;
}

table tr td a{
    color: black;
}

a:link{ /* Pseudoclasse :link permite focar apenas os hiperlinks*/
    text-decoration: none;
}

a:hover{ /*É um seletor que é usado para selecionar elementos quando você passa o mouse sobre eles.*/
    color: #e88712;
    text-decoration: underline;
    font-weight: bold;
}
/*fim do estilo menu suspenso*/

h2.promo{
    background-color: #ff8c00;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3.subtitulo{
    font-size: 25px;
    color: #DD8500;
}

div p.TextoEmbreagem{ /*alinhamento do texto do Kit Embreagem, largura que o texto ocupa, e a margem do texto a esqueda*/
    text-align: justify;
    width: 700px;
    margin-left: 100px;
}

div p.TextoCilindro{ /*alinhamento do texto do Cilindro de Roda, e a margem do texto a direita*/
    text-align: justify;
    margin-right: 100px;
}

div p.TextoDisco{ /*alinhamento do texto Disco de freio, margem da direita e esquerda sobre o texto, tamanho da letra*/
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 18px;
}

div.ConteudoDisco p{ /*Posicionamento da imagem do Disco de Freio*/
    text-align: center;
}


div.preco p{ /**/
    color: red;
    font-size: 25px;
    font-weight: bold;
}

div.preco button{
    font-size: 18px;
    cursor: pointer;
    border: 1px solid;
}

footer.rodape{
    color: black;
    background-color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
}

hr{
    border-color: black;
    border-width: 1px;
}