@charset "utf-8";

/*Reset Padrao Browser*/
*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
/*===================*/

/*Cor Fundo*/
body{
    background-color: #f8e6e5;
}
/*=========*/

/*Div Logo*/
header div.logo{
    width: 100%;
    text-align: center;
}
/*========*/

/*Menu superior*/
nav table{
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

nav table tr td{
    width: 25%;
    padding: 1% 0%;
    text-align: center;
}

nav table tr td a{
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav table tr td a:hover{
    color: rgb(250, 88, 115);
    text-decoration: none;
}
/*===============*/

/*Carrosel*/
.carousel{
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: auto;
    font-size: 130%;
    font-family: 'Eczar', serif;
}
/*==========*/

/*Menu Lateral*/
aside{
    float: left;
    text-align: center;
    width: 10%;
    height: 320px;
    margin: 5% 1% 0% 1%;
    position: sticky;
    top: 100px;
}

aside p{
    font-family: 'Quicksand', sans-serif;
    font-size: 120%;
}
/*=============*/

/*Divs Promoções Tamanho dos Pais*/
section#bolos, section#tortas, section#doces{
    overflow: hidden;
}
/*===================*/

/*Divs Promoções*/
section#bolos, section#tortas, section#doces{
    margin-left: 13%;
}

section#bolos h3, section#tortas h3, section#doces h3{
    font-size: 190%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    text-align: center;
}

section div.nome p{
    border: 2px solid black;
    background-color: #fccccb;
    padding: 2% 0%;
    margin: 5% 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 110%;
}

section#bolos div.quadro1, section#bolos div.quadro3{
    float: left;
    text-align: center; 
    width: 49%;
    margin-bottom: 1%;
}

section#bolos div.quadro2, section#bolos div.quadro4{
    float: right;
    width: 49%; 
    text-align: center;
    margin-bottom: 1%;
}

section#tortas div.quadro1, section#tortas div.quadro3{
    float: left;
    text-align: center;
    width: 49%;
    margin-bottom: 1%;
}

section#tortas div.quadro2, section#tortas div.quadro4{
    float: right;
    text-align: center;
    width: 49%;
    margin-bottom: 1%;
}

section#doces div.quadro1, section#doces div.quadro3{
    float: left;
    width: 49%;
    text-align: center;
    margin-bottom: 1%;
}

section#doces div.quadro2, section#doces div.quadro4{
    float: right;
    width: 49%;
    text-align: center;
    margin-bottom: 1%;
}
/*=================*/

/*Rodapé*/
footer{
    height: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

footer p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    margin-top: 10px;
}
/*=======*/