@charset "utf-8";

    /*Reset config padrão*/
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
    /*===================*/

table.cabecalho tr td{
    text-align: center;
}

/*Estilo do menu suspenso*/
table.cabecalho{
    margin-top: 5px;
}

table.cabecalho tr td{
    font-size: 18px;
    width: 1000px;
    height: 10px;
}

table tr td a{
    color: black;
}

a:link{ /* Pseudoclasse :link permite focar apenas os hiperlinks*/
    text-decoration: none;
}

a:hover{ /*É um seletor que é usado para selecionar elementos quando você passa o mouse sobre eles.*/
    color: #e88712;
    text-decoration: underline;
    font-weight: bold;
}
/*fim do estilo menu suspenso*/

hr{
    border: 1px solid black;
}

h3{
    text-align: center;
    font-size: 160%;
    background-color:  #ff8c00;
    padding-top: 10px;
    padding-bottom: 10px;
}

    
    /*Out box*/
fieldset, legend{
    border: 1px solid black;
}

fieldset{
    padding: 10px;
}

fieldset legend{
    padding: 3px;
    
}
    /*======*/


    /*Estilo form*/
div.Formulario{
    width: 30%;
    margin-left: 35%;
}

div.Formulario form table tr td label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

div.Formulario form table tr td input{
    border: 1px solid black;
    width: 370px;
    outline: none;
}

textarea{
    border: 1px solid;
    outline: none;
    resize: none;
}
    /*==========*/

    /*Estilo Enviar, Apagar*/
input.enviar, input.apagar{
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
    outline: none;
}

input.enviar{
    margin-left: 30%;
}

input.apagar{
    margin-left: 3%;
}

input.enviar:hover, input.apagar:hover{
    font-weight: bolder;
}
    /*=====================*/

    /*Rodapé*/
footer.rodape{
    text-align: center;
    color: black;
    background-color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer.rodape table tr td{
    font-size: 18px;
    width: 1000px;
    height: 10px;
}
    /*=======*/