@charset "utf-8";

    /*Reset config padrão*/
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

table.cabecalho tr td{
    text-align: center;
}

/*Estilo do menu suspenso*/
table.cabecalho{
    margin-top: 5px;
}

table.cabecalho tr td{
    font-size: 18px;
    width: 1000px;
    height: 10px;
}

table tr td a{
    color: black;
}

a:link{ /* Pseudoclasse :link permite focar apenas os hiperlinks*/
    text-decoration: none;
}

a:hover{ /*É um seletor que é usado para selecionar elementos quando você passa o mouse sobre eles.*/
    color: #e88712;
    text-decoration: underline;
    font-weight: bold;
}
/*fim do estilo menu suspenso*/

hr{
    border: 1px solid black;
}

    /*Estilo form*/
div{
    width: 30%;
}

div form table tr td label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

div form table tr td input{
    border: 1px solid black;
    width: 370px;
    outline: none;
}

textarea{
    border: 1px solid;
    outline: none;
    resize: none;
}
    /*----------*/