@charset "utf-8";

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

h2.promo, div.preco, h3, table tr td{
    text-align: center;
}

/*Estilo do menu suspenso*/
table.cabecalho{
    margin-top: 5px;
}

table tr td{
    font-size: 18px;
    width: 1000px;
    height: 10px;
}

table tr td a{
    color: black;
}

a:link{ /* Pseudoclasse :link permite focar apenas os hiperlinks*/
    text-decoration: none;
}

a:hover{ /*É um seletor que é usado para selecionar elementos quando você passa o mouse sobre eles.*/
    color: #e88712;
    text-decoration: underline;
    font-weight: bold;
}
/*fim do estilo menu suspenso*/


h2.promo{
    background-color: #ff8c00;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    /*Estilo 1 div's*/
div#ConteudoEmbreagem{
    overflow: hidden;
}

div#ConteudoEmbreagem div h3{
    font-size: 25px;
    color: #DD8500;
}

div.TextoEmbreagem{
    text-align: justify;
    width: 700px;
    margin: 30px 0px 0px 100px;
    float: left;
}

div.EmbreagemImagem{
    margin: 0px 100px 0px 0px;
    float: right;
}

    /*--------------*/


    /*Estilo 2 div's*/
div#ConteudoCilindro{
    overflow: hidden;
}

div#ConteudoCilindro h3{
    font-size: 25px;
    color: #DD8500;
}

div#ConteudoCilindro div.CilindroImagem{
    margin-left: 200px;
    float: left;
}

div#ConteudoCilindro div.TextoCilindro{
    text-align: justify;
    width: 500px;
    margin: 110px 140px 0px 0px;
    float: right;
}
    /*--------------*/

    /*Estilo 3 div's*/
div#ConteudoDisco h3{
    font-size: 25px;
    color: #DD8500;
}

div#ConteudoDisco div.TextoDisco{
    text-align: justify;
    font-size: 18px;
    margin: 30px 130px 0px 130px;
}

div#ConteudoDisco div.ImagemDisco{
    margin: 40px 450px 0px 450px;
}
    /*--------------*/

    /*Estilo Preços/Botões*/
div.preco p{
    clear: both;
    color: red;
    font-size: 25px;
    font-weight: bold;
}

div.preco button{
    font-size: 18px;
    padding: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    border: 1px solid;
}

div.preco button:hover{
    background-color: #DD8500;
    color: black;
}
    /*---------------*/

footer.rodape{
    color: black;
    background-color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
}

hr{
    border: 1px solid black;
}