@charset "utf-8";

.rodape, table tr td{ /*Alinhar todos esses elementos agrupados ao centro*/
    text-align: center;
}

/*Estilo do menu suspenso*/
table.cabecalho{
    margin-top: 30px;
}

table tr td{
    font-size: 18px;
    width: 1000px;
    height: 10px;
}

table tr td a{
    color: black;
}

a:link{ /* Pseudoclasse :link permite focar apenas os hiperlinks*/
    text-decoration: none;
}

a:hover{ /*É um seletor que é usado para selecionar elementos quando você passa o mouse sobre eles.*/
    color: #e88712;
    text-decoration: underline;
    font-weight: bold;
}
/*fim do estilo menu suspenso*/


/*Estilo da 1 e 2 Tabela Frase-Foto*/

table#Promocao, table#TrocaOleo{ /*ID da tabela. Propriedades de tamanho dela*/
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

td.Frase{ /*Classe da celula da tabela. Responsavel pela Frase*/
    padding-left: 200px;
}

td.Frase h2, td.TrocaOleo h2{ /*Classe do conteudo da celula -P- com suas propriedades*/
    font-size: 30px;
    color: #DD8500;
}

td.Foto{ /*Classe da celula da tabela. Responsavel pela Foto*/
    padding-right: 200px;
}

td.Foto img, td.ImagemOleo img{ /*Classe do conteudo da celula -IMG- com suas propriedades*/
    width: 310px;
    height: 206px;
    border-radius: 10px;
}

td.ImagemOleo{
    /* border: 1px solid */
    padding-left: 120px;
    margin: 0px;
}

td.TrocaOleo{
    padding-right: 250px;
}

/*Fim do Estilo da 1 e 2 Tabela Frase-Foto*/
table.rodape{
    height: 80px;
    color: black;
    background-color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
}

hr{
    border-color: black;
    border-width: 1px;
}