@charset "utf-8";

    /*Reset config padrão*/
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

    /*Alinhar todos esses elementos agrupados ao centro*/
.rodape, table tr td{ 
    text-align: center;
}

    /*Estilo do menu suspenso*/

table.cabecalho{
    margin-top: 5px;
}

table tr td{
    font-size: 18px;
    width: 1000px;
    height: 10px;
}

table tr td a{
    color: black;
}

    /*underline do link*/
a:link{ 
    text-decoration: none;
}

    /*É um seletor que é usado para selecionar elementos quando você passa o mouse sobre eles.*/
a:hover{ 
    color: #e88712;
    text-decoration: underline;
    font-weight: bold;
}
    /*fim do estilo menu suspenso*/


    /*Estilo das div's 1*/
div#Promocao{
    overflow: hidden;
}

div.Frase h2{
    margin: 70px 0px 0px 300px;
    font-size: 30px;
    color: #DD8500;
    text-align: center;
    float: left;
}

div.Frase h2:hover, div.FraseTrocaOleo h2:hover{
    text-decoration: underline;
}

div.Foto img{
    width: 310px;
    height: 206px;
    border-radius: 10px;
}

div.Foto{
    margin-right: 300px;
    float: right;
}
    /*-------------*/


    /*Estilo das div's 2*/
div#TrocaOleo{
    overflow: hidden;
}

div.ImagemOleo{
    margin-left: 270px;
    float: left;
}

div.ImagemOleo img{
    width: 310px;
    height: 206px;
    border-radius: 10px;
}

div.FraseTrocaOleo h2{
    margin: 70px 400px 0px 0px;
    font-size: 30px;
    color: #DD8500;
    text-align: center;
    float: right;
}
    /*--------------*/

table.rodape{
    height: 80px;
    color: black;
    background-color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
}

hr{
    border: 1px solid black;
}