@charset "utf-8";

    /*Reset config padrão*/
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

    /*Alinhar todos esses elementos agrupados ao centro*/
.rodape, table tr td{ 
    text-align: center;
}

    /*Estilo do menu suspenso*/
table.cabecalho{
    margin-top: 5px;
}

table tr td{
    font-size: 18px;
    width: 1000px;
    height: 10px;
}

table tr td a{
    color: black;
}

    /* Pseudoclasse :link permite focar apenas os hiperlinks*/
a:link{ 
    text-decoration: none;
}

    /*É um seletor que é usado para selecionar elementos quando você passa o mouse sobre eles.*/
a:hover{ 
    color: #e88712;
    text-decoration: underline;
    font-weight: bold;
}
    /*fim do estilo menu suspenso*/


    /*Estilo da 1 e 2 Tabela Frase-Foto*/

table#Promocao, table#TrocaOleo{ 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

    /*Classe da celula da tabela. Responsavel pela Frase*/
td.Frase{ 
    padding-left: 200px;
}

    /*Classe do conteudo da celula -P- com suas propriedades*/
td.Frase h2, td.TrocaOleo h2{ 
    font-size: 30px;
    color: #DD8500;
}

    /*Classe da celula da tabela. Responsavel pela Foto*/
td.Foto{ 
    padding-right: 200px;
}

    /*Classe do conteudo da celula -IMG- com suas propriedades*/
td.Foto img, td.ImagemOleo img{ 
    width: 310px;
    height: 206px;
    border-radius: 10px;
}

td.ImagemOleo{
    /* border: 1px solid */
    padding-left: 120px;
    margin: 0px;
}

td.TrocaOleo{
    padding-right: 250px;
}
    /*Fim do Estilo da 1 e 2 Tabela Frase-Foto*/

table.rodape{
    height: 80px;
    color: black;
    background-color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
}

hr{
    border-color: black;
    border-width: 1px;
}